<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - Game</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <% include global/header %>
  <a class="headerlink" href="/users/<%=user.name%>/edit"><button class="headerlink">Account Details</button></a>
  <br>
  <div id="throw_choice">
    <img id="ref" class= "center" src="../images/ref/three.svg"></img>
      <h2 class= "center" >Play the Game, <%=user.name%> </h2>
      <h4 id="ref_text" class="center">Three!</h4>
      <form action= "/user/<%=user.name%>/results" method="get">

        <p class="left">Enter your choice of weapon:</p>
        <p class="right">Enter your villain:</p>
        <br>
        <br>
        <br>
        <select class="left" id="weapon_select" name="weapon">
          <option value=" "> </option>
          <option value="paper">Paper</option>
          <option value="rock">Rock</option>
          <option value="scissors">Scissors</option>
        </select>

        <select id="villain_select" class="right" name="villain_name">
          <option value=" "> </option>
          <option value="Bones">Bones</option>
          <option value="Comic Hans">Comic Hans</option>
          <option value="Gato">Gato</option>
          <option value="Harry">Harry</option>
          <option value="Manny">Manny</option>
          <option value="Mickey">Mickey</option>
          <option value="Mr. Modern">Mr. Modern</option>
          <option value="Pixie">Pixie</option>
          <option value="Regal">Regal</option>
          <option value="Spock">Spock</option>
          <option value="The Boss">The Boss</option>
          <option value="The Magician">The Magician</option>
        </select>

        <br>
        <br>

        <img id="player_hand" src="../images/ _waiting.svg"></img>
        <img id="villain_hand" src="../images/ _waiting.svg"></img>

        <button type = "submit" id="throw_choice_button">Throw Choice</button>

      </form>
    </div>
  <% include global/footer %>
  <script src="../../scripts/scripts.js"></script>
</body>
</html>
