table{
  border-collapse: collapse;
}

table th{
    text-align: left;
    background-color: lightblue;
    border: 2px solid;
}
table td{
  border:1px solid black;
}

table tr:nth-child(odd) td{
  background-color: lightgreen;
}
