<%include header.ejs%>
<html>
<head>
	<title>Trinity Sticker Tag</title>
</head>
<body onload="typeOut()">
	<div class="container">
		<h1 id ="title"> </h1>
		<div class ="btn-div">
			<a href="/auth/google"><button type="button" class="btn btn-primary btn-lg btn-block">Login</button></a>
		</div>
		<div id = "logo">
			<img style = "opacity: 0;"id = "logo-img" src = "../images/senate.svg" width = "30%" height = "30%" />
		</div>
	</div>
	</body>
</html>

<script src="js/script.js"></script>
<%include footer.ejs%>
