<header>
  <img id="headerimg" src="../images/logo.png" height="100" width="150">
  <h1>P, R, S: Showdown</h1>
  <a class="headerlink" href ="/about"><button class="headerlink">About</button></a>
  <a class="headerlink" href ="/stats"><button class="headerlink">View Stats</button></a>
  <a class="headerlink" href ="/rules"><button class="headerlink">View Rules</button></a>
  <a class="headerlink" href ="/logout"><button class="headerlink">Logout</button></a>
</header>
